:root {
    /* Colors */
    --background: #222224;
    --background2: #303841;
    --color-red: #BE3144;
    --color-text: #F0F0F0;
    --color-projects: #45567E;

    /* Font */
    --font: 'Poppins', sans-serif;
    --font2: 'Raleway', sans-serif;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    font-family: var(--font);
    color: var(--color-text);
}

.container {
    width: 100%;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4.4rem;
    box-shadow: 0 2px 0 rgba(0, 0, 0, .4);
    z-index: 10;
    background-color: var(--color-red);
}

.nav .nav-list {
    display: flex;
    align-items: center;
    margin-right: 2rem;
    list-style: none;
}

.nav .nav-list li a {
    text-decoration: none;
    font-size: 22px;
    padding: 19.5px;
    color: var(--color-text);
}

.nav .nav-list li a:hover {
    background-color: var(--color-projects);
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%; /* Opcional */
    height: 100vh;
    background: linear-gradient(40deg, rgb(33, 33, 36, .85), rgba(20, 20, 22, 0.9), rgb(20, 20, 22, 1));
}

.welcome-section h1 {
    font-size: 60px;
    font-weight: 800;
    font-family: var(--font2);
}

.welcome-section p {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 300;
    font-style: italic;
    color: var(--color-red);
}

.projects-section {
    background-color: var(--color-projects);
    width: 100%; /* opcional */
    height: 150vh; /* Opcional */
    text-align: center;
    padding: 10rem 2rem;
}

.projects-section h2 {
    font-family: var(--font2);
    font-size: 42px;
    font-weight: 700;
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 2px solid var(--color-text);

}

.projects-section .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {
    background-color: var(--background);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .5);
    border-radius: 2px;
}

.project img {
    width: 100%;
    height: calc(100% - 6.8rem);
    object-fit: cover;
}

.project .project-title {
    font-size: 2.2rem;
    padding: 2rem 0.5rem;
}

.project .project-title .code {
    color: var(--background);
    transition: color .3s ease-out;
}

.project .project-title .code:hover {
    color: orangered;
}

